@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: #06090f;
    color: white;
}

.home-wrapper {
    font-family: 'Inter', sans-serif;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero {
    font-family: 'Inter', sans-serif;
}


/* Arxa fon tor ve reng */

.background-tor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
    background-image: linear-gradient(rgba(255, 255, 255, 0.022) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.022) 1px, transparent 1px);
    background-size: 60px 60px;
}

@media (max-width: 768px) {
    .background-tor {
        background-size: 40px 40px;
    }
}

.background-shadow {
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    top: -7rem;
    left: -4rem;
    width: 24rem;
    height: 24rem;
    background: radial-gradient(circle, rgba(55, 128, 121, 0.07) 0%, transparent 70%);
    z-index: 0;
}